<!DOCTYPE HTML>

<html>
<head>
	<title>
		Welcome to the Angular2 Satellite launch info demo
	</title>


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>



<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<body>
<h1> Welcome to the Satellite Launch Info Angular2 demo app </h1>
<div class="container">
	<h3> Launchpads list </h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul class="list-group launch js-launchpads">
			
			<li (click)="selectLaunchPad(i)" [ngClass]=" {active: isActiveLaunchPad(i)} " 
			 *ngFor="let launchpad of launchpads; let i = index"  
			class="list-group-item" >{{launchpad.full_name}}
			
			</li>
</ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="icon-left">
                <i class="fa fa-money fa-3x"></i>
            </div>
            <div class="text">
            <h4> Lorem Ipsum is simply dummy </h4>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
               has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> 
            </div><br>
             <div class="icon-left">
                <i class="fa fa-taxi fa-3x"></i>
            </div>
            <div class="text">
            <h4> Lorem Ipsum is simply dummy </h4>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
               has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> 
            </div><br>
             <div class="icon-left">
                <i class="fa fa-leaf fa-3x"></i>
            </div>
            <div class="text">
            <h4> Lorem Ipsum is simply dummy </h4>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
               has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> 
            </div>
        </div>
	</div>
	
	
	<h3> Launch Info list </h3>
	<div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<ul class="list-group launch js-launches">
            
			
			 
			<li (click)="selectLaunch(i)" [ngClass]=" {active: isActiveLaunch(i)} " 
			 *ngFor="let launch of launches; let i = index"  
			class="list-group-item" >{{launch.mission_name}}
			
			</li>
			
	</ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="icon-left">
                <i class="fa fa-money fa-3x"></i>
            </div>
            <div class="text">
            <h4> Lorem Ipsum is simply dummy </h4>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
               has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> 
            </div><br>
             <div class="icon-left">
                <i class="fa fa-taxi fa-3x"></i>
            </div>
            <div class="text">
            <h4> Lorem Ipsum is simply dummy </h4>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
               has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> 
            </div><br>
             <div class="icon-left">
                <i class="fa fa-leaf fa-3x"></i>
            </div>
            <div class="text">
            <h4> Lorem Ipsum is simply dummy </h4>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
               has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> 
            </div>
        </div>
	</div>
	
</div>

</body>
</html>

<script>
 $(".js-launchpads>li").on("click", function() {
      $(".js-launchpads>li").removeClass("active");
      $(this).addClass("active");
 });
 
 $(".js-launches>li").on("click", function() {
      $(".js-launches>li").removeClass("active");
      $(this).addClass("active");
 });
</script>